.film-release-box {
  background: #E4B817;
  margin: auto;
  width: 60%;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10em;
}

.film a{
  text-decoration: none;
  color: black;
 
}

.film-footer {
  display: block;
  width: auto;
  height: 25px;
  background: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
}

.film-footer:hover {
  background: rgb(53, 52, 52);
}

.film-footer a {
  text-decoration: none;
  color: #E4B817;
}

li {
  margin-top: 10px;
}

li:hover {
  font-weight: bold;
}
